.cart-navigation{
    font-size: 14px;
    color: #000;
    background: #ffffff;
}
.margin-cart{
    margin-top: 10px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
div{
    display: block;
}
.panel-defualt{
    border-color: #ddd;
}
.panel{
    margin-bottom: 20px;
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading{
    background-color: #3385ff;
    border-color: #ddd;
    color: #000;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.clearfix:{
    display: inline-block;
    margin-right: 4px;
    content: '*';
    font-family: SimSun;
    color: red;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: ' ';
    clear: both;
}
.text-left{
    text-align: left;
}
.btn{
    margin-left: 40px;
    width: 150px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 4.42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fa{
    position: relative;
    top: 1px;
    display: inline-block;
    font-size: normal;
    font-weight: 400;
    line-height: 1;
}
.next-form-item-control{
    position: relative;
}
.next-form-item-label{
    display: inline-block;
    vertical-align: top;
    color: #757575;
    min-height: 20px;
    margin: 0;
}
.next-form-item-label[required]:before{
    display: inline-block;
    margin-right: 4px;
    content: '*';
    color: #f44336;
}