body{
    font-family: 'Pridi', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}
.menu-product .navbar-nav:hover{
    color: #3385ff;
}
.easy-autocomplete{
    width: 100%;
    position: relative;
}
.searchTerm{
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}
.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
#goCart:hover{
    color: #000;
}
#goCart:active{
    color: #000;
}
#goCart:visited{
    color: #000;
}
img.resize{
    width: 50%;
    height: 50%;
}
i.fa-user-circle, i.fa-shopping-cart{
    font-size: 2em;
}
a.usernameLogin{
    color: #000;
}
a, a:link{
    text-decoration: none;
}
.bg-faded{
    background-color: #f7f7f7;
}
li{
    list-style: none;
}
.title-h{
    background: #0093f0;
    color: #ffffff;
    padding: 0px 15px;
    font-weight: bold;
}
.mt-1{
    margin-top: .25rem !important;
}
.title-h .seeAll{
    border: 2px solid #fff;
    border-radius: 5px;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    padding: 0px 15px;
    font-size: 14px;
}
section{
    display: block;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.item-prod{
    border: 1px dashed #777;
}
.navbar-toggleable-md{
    flex-direction: row;
}
.text-left{
    text-align: left !important;
}
.fa{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}
.box{
    position: relative;
    margin: auto;
    width: 450px;
    top: 80px;
    border: 5px solid;
    padding: 10px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px 10px #eeeeee;
}
.userPass{
    margin-left: 20%;
}
hr{
    margin-left: 320px;
    margin-right: 320px;
}
#fName{
    margin-left: 20%;
}
#lName{
    margin-left: 11.5%;
}
#phone{
    margin-left: 3.25%;
}
#email{
    margin-left: 16.6%;
}
#user{
    margin-left: 7.85%;
}
#pass{
    margin-left: 12%;
}
#conPass{
    margin-left: 3.3%;
}
#address{
    padding: 15px;
    resize: none;
}
.sex{
    margin-left: 15px;
}